<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670030416807-ffl3f1t3ejufr8djhucbqpldu8a46d1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670030416807-ffl3f1t3ejufr8djhucbqpldu8a46d1f</string>
	<key>API_KEY</key>
	<string>AIzaSyAwshKyKrHdAxktaOW-pDgCMisPYKqD1A8</string>
	<key>GCM_SENDER_ID</key>
	<string>670030416807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maglena.news</string>
	<key>PROJECT_ID</key>
	<string>newss-58193</string>
	<key>STORAGE_BUCKET</key>
	<string>newss-58193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670030416807:ios:243d3e335e115a9afac482</string>
</dict>
</plist>